a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: 'Inter', sans-serif;
  color: #0c3e2e;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
}

.title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 50px;
}

.section {
  margin-bottom: 150px;
}

.f {
  font-family: 'Balsamiq-Sans', sans-serif;
  font-family: 'Kaisei Decol', serif;
  font-family: 'Manrope', sans-serif;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  background-image: url(../images/header-bg.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.header-inner {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-top {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  gap: 0 30px;
}

.menu__link {
  text-transform: uppercase;
  font-size: 16px;
}

.phone {
  color: #bb8a52;
}

.header-content__inner {
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
  align-items: center;
}

.header-content__text {
  max-width: 510px;
}

.header-content__text span {
  color: #cc2e2e;
}


.header-title {
  font-size: 48px;
  font-weight: 600;
  margin: 20px 0 80px;
  max-width: 428px;
}

.header-content__btn {
  background: #ffba00;
  padding: 20px 32px;
  display: inline-block;
  margin-top: 50px;
  font-size: 20px;
}

.header-content__img {
  max-width: 589px;
}

.header__text {
  font-size: 24px;
  text-align: center;
  padding: 25px 0;
}

.menu__btn {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.menu__btn .menu__line {
  display: block;
  width: 47px;
  height: 3px;
  background-color: #0C3E2E;
  margin: 8px 0;
  transition: all 0.3s ease;
}

.menu__btn--open .menu__line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu__btn--open .menu__line:nth-child(2) {
  opacity: 0;
}

.menu__btn--open .menu__line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.menu__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main {
  background-image: url(../images/decor/dec-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}


.about__inner-img {
  max-width: 588px;
}

.about__inner {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.about__text {
  margin-bottom: 30px;
  max-width: 500px;
  font-size: 18px;
}

.about__text span {
  font-family: 'Balsamiq-Sans', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.about__inner-title {
  font-size: 28px;
  margin-bottom: 30px;
}

.about__inner-list {
  display: flex;
  gap: 0 30px;
  text-align: center;
  color: #BB8A52;
}

.about__inner-list dt {
  font-size: 48px;
  margin-bottom: 5px;
}

.why__img {
  max-width: 587px;
}


.why__text {
  min-width: 580px;
  font-size: 28px;
  margin-bottom: 40px;
}

.why__inner-list {
  list-style: none;
  counter-reset: my-counter;
  padding-left: 10px;
}

.why__inner-item:before {
  counter-increment: my-counter;
  content: counter(my-counter);
  padding-right: 5px;
}

.why__inner {
  display: flex;
  align-items: center;
  gap: 0 22px;
}

.why__inner-item {
  font-size: 28px;
}

.why__inner-item+.why__inner-item {
  margin-top: 55px;
}

.why__inner-item.pl--60 {
  padding-left: 60px;
}

.why__inner-item.pl--90 {
  padding-left: 90px;
}

.projects__text {
  margin-bottom: 30px;
  max-width: 595px;
  font-size: 28px;
}

.projects__galery {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.galery--item {
  grid-area: span 2;
}

.projects__galery-text {
  text-align: center;
  padding: 20px 0;
}

.project__galeri-img {
  max-width: 396px;
  border-radius: 40px;
  border: 1px solid #BB8A52;
}

.servises {
  padding: 20px 0 40px;
  background-color: rgb(109, 151, 115, 0.1);
}

.servises__list {
  padding: 0 25px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.servises__text {
  margin-bottom: 30px;
  max-width: 585px;
  font-size: 28px;
}

.servises__item-text {
  font-size: 24px;
  padding-top: 20px;
}


.prices__text {
  font-size: 28px;
  max-width: 730px;
  margin-bottom: 50px;
}

.prices__box {
  display: flex;
  gap: 22px;
}

.prices__list {
  border: 2px solid #FFBA00;
  padding: 60px 55px 80px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prices__item-first {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 40px;
  text-align: left;
}

.prices__item {
  font-size: 24px;
  max-width: 442px;
  margin-bottom: 10px;
}

.prices__item-sum sup {
  padding-bottom: 20px;
  font-size: 15px;
}

.prices__item-sum {
  font-size: 36px;
  font-weight: 700;
  margin-top: auto;
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 94px;

}

.prices__item-btn {
  display: block;
  background-color: #ffba00;
  padding: 20px;
  font-size: 20px;
}


.work__list {
  list-style-type: none;
  counter-reset: my-counter;
  max-width: 1020px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0 15px;
}

.work__item {
  font-size: 28px;
  position: relative;
  line-height: 185px;
  padding-left: 64px;
}

.work__item::before {
  content: counter(my-counter, decimal-leading-zero);
  counter-increment: my-counter;
  font-size: 128px;
  font-family: 'Kaisei Decol', serif;
  color: rgba(109, 151, 115, 0.2);
  font-weight: 400;
  letter-spacing: -8px;
  position: absolute;
  left: 0;
  -webkit-text-stroke: 1px rgb(109, 151, 115);
}


.team__text {
  font-size: 28px;
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  justify-content: center;
  gap: 50px;

}

.team__item {
  width: 200px;
}

.team__item-img {
  border: 1px solid #FFBA00;
}

.team__item-name {
  padding: 10px 0 15px;
  text-align: center;
}


.accordeon {
  column-count: 2;
  gap: 0 22px;
}

.accordeon__item {
  margin-bottom: 40px;
}

.accordeon__title {
  margin-bottom: 15px;
  font-size: 24px;
  background-color: transparent;
  border: none;
  border-radius: 0;
  text-align: left;
  cursor: pointer;
  padding-right: 70px;
  position: relative;
  width: 100%;
}

.accordeon__descr {
  display: none;
}

.accordeon__title::after {
  content: '';
  position: absolute;
  background-image: url(../images/arrow-down.svg);
  width: 15px;
  height: 24px;
  top: 3px;
  right: 40px;
}

.contact-form__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form__text {
  font-size: 28px;
  margin-bottom: 15px;
}

.form__text {
  margin-bottom: 15px;
}

.form__input {
  max-width: 520px;
  width: 100%;
  display: inline-block;
  border: none;
  margin-bottom: 10px;
  border-bottom: #0C3E2E 1px solid;
  padding: 5px 10px;
  margin-left: 28px;
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  color: #0C3E2E;
  font-weight: 500;
  line-height: 1.2;
}

.form__input::placeholder {
  color: #D9D9D9;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 1.2;
}

.form__btn {
  background-color: #FFBA00;
  display: inline-block;
  border: none;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px 41px;
  font-size: 20px;
  color: #0C3E2E;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
}

.form__link {
  display: flex;
  align-items: center;
}

.form__link span {
  border-bottom: #0C3E2E 1px solid;
}

.form__link img {
  margin-left: 30px;
}

.reviews {
  margin-bottom: 150px;
}

.reviews__slider {
  padding-bottom: 55px;
}

.reviews__item {
  font-size: 28px;
}


.reviews__item-name {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}


.reviews__item-text {
  font-size: 20px;
}


.reviews__item-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 20px;
}

.reviews__item-arrow {
  position: absolute;
  bottom: 0;
  cursor: pointer;
}

.reviews__item-prev {
  left: 50%;
  transform: translateX(-65px);
}

.reviews__item-next {
  right: 50%;
  transform: translateX(+65px);
}


.contact-form__images {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.contact-form__img {
  border-radius: 40px;
}

.contact-form__img--mod {
  grid-column: 1/-1;
}


.contacts__inner {
  display: flex;
  gap: 0 20px;
}

.contacts__text {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 70px;
}

.contacts__info {
  font-size: 20px;
}

.contacts__info dt {
  margin-top: 20px;
}

.footer {
  background-color: rgb(109, 151, 115, 0.1);
  padding: 40px 0 47px;
}

.footer__inner {
  display: flex;
  gap: 0 22px;
}

.footer__left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__menu {
  font-size: 20px;
}

.footer__menu-item {
  margin-bottom: 20px;
}

.social__list {
  display: flex;
  gap: 0 20px;
}

.footer__right {
  width: 100%;
  padding-left: 30px;
}

.footer__logo img {
  width: 137px;
  height: 87px;
  margin-bottom: 42px;
}

.footer__text {
  font-size: 36px;
  max-width: 322px;
  font-weight: 600;
}

.header-content__btn--desk {
  display: none;
}

.header-content__text-desc {
  display: none;
}

@media (max-width: 1210px) {
  .about__inner-img {
    max-width: 470px;
  }

  .header-content__img {
    max-width: 470px;
  }

  .title {
    margin-bottom: 30px;
  }

  .about__inner-list dt {
    font-size: 36px;
  }

  .about__inner-list dd {
    font-size: 14px;
  }
}


@media (max-width: 1000px) {
  .section {
    margin-bottom: 100px;
  }

  .header-content__img {
    max-width: 470px;
  }

  .header-title {
    margin-bottom: 40px;
  }

  .header-content__btn {
    margin-top: 40px;
  }

  .menu__link {
    font-size: 14px;
  }

  .phone {
    font-size: 14px;
  }

  .about__text {
    font-size: 16px;
  }

  .about__text span {
    font-size: 20px;
  }

  .about__inner-title {
    margin-bottom: 20px;
  }

  .about__inner-list dt {
    font-size: 30px;
  }

  .about__inner-list dd {
    font-size: 13px;
  }


}

@media (max-width: 877px) {

  .section {
    margin-bottom: 90px;
  }

  .header-content__img {
    max-width: 344px;
  }

  .header {
    background-size: auto;
  }

  .header-top {
    align-items: center;
  }

  .header-title {
    font-size: 28px;
  }

  .menu {
    order: -1;
  }

  .menu__list {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    width: 100%;
    top: 0;
    text-align: center;
    padding: 70px 0;
    z-index: 1;
    background-color: rgb(109, 151, 115);
    opacity: 0;
    transform: translateY(-120%);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  /* Відкритий стан меню */
  .menu.menu--open .menu__list {
    opacity: 1;
    transform: translateY(0);
  }

  .menu__link {
    display: block;
    padding: 15px 0;
  }

  .menu.menu--open {
    display: block;
  }

  .menu__btn {
    display: block;
    position: relative;
    z-index: 2;
  }

  .phone {
    font-size: 16px;
  }

  .header-title {
    margin-bottom: 25px;
  }

  .header__text {
    display: none;
  }

  .header-content {
    margin: auto 0;
  }

  .header-content__btn--desk {
    display: inline-block;
  }

  .header-content__btn--mob {
    display: none;
  }

  .header-content__img {
    margin-top: 35px;
    max-width: 100%;
  }

  .header-content__box {
    padding-top: 20px;
  }

  .header-content__inner {
    display: block;
    text-align: center;
  }

  .header-content__text {
    margin: 0 auto;
  }

  .header-title {
    max-width: 100%;
  }

  .about__inner {
    display: block;
  }

  .about__inner-img {
    display: flex;
    max-width: 100%;
    margin: 0 auto 20px
  }

  .about__text {
    max-width: 100%;
  }

  .about__inner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}



@media (max-width: 500px) {

  .container {
    max-width: 1220px;
    padding: 0 10px;
  }

  .header-top {
    flex-wrap: wrap;
  }

  .logo {
    width: 100%;
    margin-top: 20px;
    text-align: center;
  }

  .phone {
    order: -1;
  }

  .about__inner-list dt {
    font-size: 25px;
  }
}

@media (max-width: 360px) {
  .header-title {
    margin: 12px 0 20px;
  }

  .header-content__text-mob {
    display: none;
  }

  .header-content__btn--desk {
    display: block;
  }

  .header-content__text-desc {
    display: block;
    margin-top: 30px;
    font-size: 16px;
  }
}